{:paths ["src/clj"]
 :deps
 {org.clojure/clojure {:mvn/version "1.12.0"}

  ;; logging data
  com.brunobonacci/mulog {:mvn/version "0.9.0"}
  com.brunobonacci/mulog-adv-console {:mvn/version "0.9.0"}}

 :aliases
 {:outdated
  {:deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core"]}}}
